{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_content %}
    <div class="module-order" data-reiff-orders>
        {% block b2b_order %}

            {% block b2b_order_header_text %}
                <h1 class="h2 pt-3">
                    {{ "b2b.Orders" | trans | sw_sanitize }}
                </h1>
            {% endblock %}

            {% block reiff_order_filter %}
                <form>
                    {% set datePickerOptions = {
                        locale: app.request.locale,
                        maxDate: 'today',
                        enableTime: false,
                        rangeStartInput: page.orderFrom|date_modify("-1 month")|date('Y-m-d'),
                        rangeEndInput: page.orderTo|date('Y-m-d'),
                        dateFormat: 'Y-m-d'
                    } %}
                    <label>
                        {{ 'StrackIntegrations.customer.orders.filter.fromDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="orderFrom"
                               class="customDate"
                               value="{{ page.orderFrom|date_modify("-1 month")|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <label>
                        {{ 'StrackIntegrations.customer.orders.filter.toDate' | trans | sw_sanitize }}
                        <input type="text"
                               name="orderTo"
                               class="customDate"
                               value="{{ page.orderTo|date('Y-m-d') }}"
                               data-date-picker
                               data-date-picker-options="{{ datePickerOptions|json_encode|escape('html_attr') }}"
                        />
                    </label>
                    <button type="submit" class="btn btn-primary">{{ 'general.formSubmit' | trans | sw_sanitize }}</button>
                </form>

                {% block reiff_order_search %}
                    {% if page.orders.count > 0 %}
                        <form class="b2b-order-search-form mt-2 mb-4">
                            <label>
                                {{ 'StrackIntegrations.customer.orders.filter.searchLabel'|trans|sw_sanitize }}
                                <input type="text" class="b2b-order-search-input form-control" value="" />
                            </label>
                            <button type="reset"
                                    class="btn btn-secondary b2b-order-search-reset">
                                {{ 'StrackIntegrations.customer.orders.filter.searchReset'|trans|sw_sanitize }}
                            </button>
                        </form>
                    {% endif %}
                {% endblock %}

            {% endblock %}

            {% block reiff_order_list %}

                {#        {{ dump(page) }}#}
                {#        {{ dump(page.orderFrom|date('Y-m-d')) }}#}
                {#        {{ dump(page.orderTo|date('Y-m-d')) }}#}

                {% if page.orders.count == 0 %}
                    {% block reiff_order_list_empty %}
                        <div class="py-2">
                            {% if page.success %}
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: "warning",
                                    content: "account.ordersInfoEmpty" | trans | sw_sanitize
                                } %}
                            {% else %}
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: "danger",
                                    content: "StrackIntegrations.customer.orders.error.noOrderResponse" | trans | sw_sanitize
                                } %}
                            {% endif %}
                        </div>
                    {% endblock %}

                {% else %}

                    {% block reiff_order_search_sorting_wrap %}
                        <div class="b2b-order-search-results-wrap">
                            {% block reiff_order_search_sorting  %}
                                {% set sortingIcon %}
                                    {% sw_icon 'arrow-down-long-solid' style {
                                        'namespace': 'StrackIntegrations'
                                    } %}
                                    {% sw_icon 'arrow-up-long-solid' style {
                                        'namespace': 'StrackIntegrations'
                                    } %}
                                {% endset %}

                                <div class="container sorting-buttons">
                                    <div class="row">
                                        <div class="col">
                                            {{ "StrackIntegrations.customer.orders.sorting.orderNumber"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-order-number"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "StrackIntegrations.customer.orders.sorting.refNumber"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-reference"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "StrackIntegrations.customer.orders.sorting.orderDate"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-date"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "StrackIntegrations.customer.orders.sorting.orderStatus"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-status"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col">
                                            {{ "StrackIntegrations.customer.orders.sorting.orderTotal"|trans|sw_sanitize }}
                                            <button type="button"
                                                    class="btn-sort"
                                                    data-sorting-type="by-total"
                                                    data-sorting-direction="default">
                                                {{ sortingIcon }}
                                            </button>
                                        </div>
                                        <div class="col col-xl-1">
                                            {% sw_icon 'eye-open' %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}

                            {% block reiff_order_search_results  %}
                                <div class="b2b-order-search-results" data-b2b-order-list="true">

                                    123

{#                                    {% for order in page.orders %}#}
{#                                        {% block reiff_order_list_row %}#}
{#                                            <div class="b2b-accordion"#}
{#                                                 data-sort-by-order-number="{{ order.number }}"#}
{#                                                 data-sort-by-reference="{{ order.reference?: '-' }}"#}
{#                                                 data-sort-by-date="{{ order.orderDate|format_date(pattern="y-M-d") }}"#}
{#                                                 data-sort-by-status="{{ order.status }}"#}
{#                                                 data-sort-by-total="{{ order.netTotal }}">#}
{#                                                <div class="b2b-accordion__title ajax-panel-link"#}
{#                                                     data-bs-target="reiff-order-detail-{{ order.number }}"#}
{#                                                     data-href="{{ path('frontend.b2b.orders.detail', { orderNumber: order.number }) }}">#}
{#                                                    {% block reiff_order_list_row_overview %}#}

{#                                                        #}{# Set order status ampel for multilingual use #}
{#                                                        {% set orderStatusIndicator = 'cl-black' %}#}
{#                                                        {% set orderStatusOpen = ['in Bearbeitung'] %}#}
{#                                                        {% set orderStatusInProcess = ['teilweise abgeschlossen','teilweise bearbeitet'] %}#}
{#                                                        {% set orderStatusClosed = ['abgeschlossen','vollständig bearbeitet'] %}#}
{#                                                        {% if order.status in orderStatusOpen %}#}
{#                                                            {% set orderStatusIndicator = 'cl-black' %}#}
{#                                                        {% elseif order.status in orderStatusInProcess %}#}
{#                                                            {% set orderStatusIndicator = 'cl-orange' %}#}
{#                                                        {% elseif order.status in orderStatusClosed %}#}
{#                                                            {% set orderStatusIndicator = 'cl-green' %}#}
{#                                                        {% endif %}#}

{#                                                        <div class="container">#}
{#                                                            <div class="row">#}
{#                                                                <div class="col">#}
{#                                                                    <span>{{ order.number }}</span>#}
{#                                                                </div>#}
{#                                                                <div class="col">#}
{#                                                                    <span>{{ order.reference?: '-' }}</span>#}
{#                                                                </div>#}
{#                                                                <div class="col">#}
{#                                                                    <span>{{ order.orderDate|format_date('medium', locale=app.request.locale) }}</span>#}
{#                                                                </div>#}
{#                                                                <div class="col">#}
{#                                                                    <span class="{{ orderStatusIndicator }}">{{ order.status }}</span>#}
{#                                                                </div>#}
{#                                                                <div class="col">#}
{#                                                                    <span>{{ order.netTotal|currency(decimals=decimals) }}</span>#}
{#                                                                </div>#}
{#                                                                <div class="col col-xl-1">#}
{#                                                                    {% sw_icon 'arrow-head-down' style {#}
{#                                                                        size: 'xs'#}
{#                                                                    } %}#}
{#                                                                </div>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    {% endblock %}#}
{#                                                </div>#}
{#                                                <div class="b2b-accordion__body">#}
{#                                                    <div#}
{#                                                            class="b2b--ajax-panel"#}
{#                                                            data-id="reiff-order-detail-{{ order.number }}"#}
{#                                                            data-url=""#}
{#                                                    ></div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        {% endblock %}#}
{#                                    {% endfor %}#}

                                </div>
                            {% endblock %}

                        </div>
                    {% endblock %}

                {% endif %}
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
